
set_io RS232_Tx B12 # 13
set_io RS232_Rx B10 # 14

###IOSet List 9
set_io LED3 A2
#set_io LED7 B3
set_io LED2 B4
set_io LED4 A1
#set_io LED6 C4
#set_io LED8 C3
set_io LED1 B5
#set_io LED5 C5

#set_io rst P16
set_io SWITCH1 P15
set_io SWITCH2 P14
set_io SWITCH3 P13
set_io SWITCH4 P12
set_io SWITCH5 P11
set_io SWITCH6 P10
set_io SWITCH7 P9
set_io SWITCH8 P8

set_io CLK J3
